.heading {
          font-size: 23px;
          width: 100%;
          margin: 0px;
          box-shadow: 5px 5px 5px greenyellow;
}

.heading_div {
          float: none;
          background: white;
          padding: 10px;
          border-radius:20px;
          color: yellowgreen;
          box-shadow: 5px 5px 5px greenyellow;
}
.heading_div2 {
          font-size: 18px;
}
.result_para_tag{
          box-shadow: 5px 5px 5px greenyellow;
          font-size: 20px;
}
canvas {
          border: 5px solid green;
          box-shadow: 5px 5px 5px greenyellow;
          margin-top: 150px;
          border-radius: 20px;
}